--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (6bc9ef8)
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: add_voter_to_election(bigint, bigint); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.add_voter_to_election(voter_id bigint, election_id bigint) RETURNS boolean
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- Check if voter and election exist

    IF NOT EXISTS (SELECT 1 FROM voters WHERE id = voter_id AND is_active = true) THEN

        RAISE EXCEPTION 'Voter with id % not found or inactive', voter_id;

    END IF;

    

    IF NOT EXISTS (SELECT 1 FROM elections WHERE id = election_id AND is_active = true) THEN

        RAISE EXCEPTION 'Election with id % not found or inactive', election_id;

    END IF;

    

    -- Add election to voter's eligible elections if not already present

    UPDATE voters 

    SET eligible_elections = eligible_elections || jsonb_build_array(election_id::text)

    WHERE id = voter_id 

    AND NOT (eligible_elections ? election_id::text);

    

    RETURN TRUE;

END;

$$;


ALTER FUNCTION public.add_voter_to_election(voter_id bigint, election_id bigint) OWNER TO neondb_owner;

--
-- Name: FUNCTION add_voter_to_election(voter_id bigint, election_id bigint); Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON FUNCTION public.add_voter_to_election(voter_id bigint, election_id bigint) IS 'Adds a voter to an elections eligible voters list';


--
-- Name: cleanup_expired_admin_sessions(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.cleanup_expired_admin_sessions() RETURNS integer
    LANGUAGE plpgsql
    AS $$

DECLARE

    deleted_count INTEGER;

BEGIN

    DELETE FROM admin_sessions 

    WHERE expires_at < CURRENT_TIMESTAMP OR is_active = FALSE;

    

    GET DIAGNOSTICS deleted_count = ROW_COUNT;

    RETURN deleted_count;

END;

$$;


ALTER FUNCTION public.cleanup_expired_admin_sessions() OWNER TO neondb_owner;

--
-- Name: FUNCTION cleanup_expired_admin_sessions(); Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON FUNCTION public.cleanup_expired_admin_sessions() IS 'Function to clean up expired or inactive admin sessions';


--
-- Name: generate_election_code(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.generate_election_code() RETURNS character
    LANGUAGE plpgsql
    AS $$

DECLARE

    new_code CHAR(6);

    code_exists BOOLEAN;

BEGIN

    LOOP

        -- Generate random 6-digit code (uppercase letters and numbers)

        new_code := UPPER(SUBSTRING(MD5(RANDOM()::TEXT || CLOCK_TIMESTAMP()::TEXT) FROM 1 FOR 6));

        

        -- Check if code already exists

        SELECT EXISTS(SELECT 1 FROM elections WHERE election_code = new_code) INTO code_exists;

        

        -- If code doesn't exist, return it

        IF NOT code_exists THEN

            RETURN new_code;

        END IF;

    END LOOP;

END;

$$;


ALTER FUNCTION public.generate_election_code() OWNER TO neondb_owner;

--
-- Name: generate_election_otp(bigint); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.generate_election_otp(election_id_param bigint) RETURNS character
    LANGUAGE plpgsql
    AS $$

DECLARE

    new_otp CHAR(6);

    current_ts TIMESTAMP;

BEGIN

    current_ts := NOW();

    new_otp := LPAD(FLOOR(RANDOM() * 1000000)::TEXT, 6, '0');

    

    UPDATE elections 

    SET election_otp = new_otp,

        otp_expires_at = current_ts + INTERVAL '2 minutes'

    WHERE id = election_id_param;

    

    RETURN new_otp;

END;

$$;


ALTER FUNCTION public.generate_election_otp(election_id_param bigint) OWNER TO neondb_owner;

--
-- Name: get_voter_active_elections(bigint); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.get_voter_active_elections(voter_id bigint) RETURNS TABLE(election_id bigint, election_name character varying, start_date timestamp without time zone, end_date timestamp without time zone, status character varying, has_voted boolean)
    LANGUAGE plpgsql
    AS $$

BEGIN

    RETURN QUERY

    SELECT 

        e.id,

        e.name,

        e.start_date,

        e.end_date,

        e.status,

        (votes.id IS NOT NULL) as has_voted

    FROM elections e

    INNER JOIN voters v ON v.eligible_elections ? e.id::text

    LEFT JOIN votes ON votes.voter_id = v.id AND votes.election_id = e.id

    WHERE v.id = voter_id 

    AND v.is_active = true 

    AND e.is_active = true

    AND e.status IN ('ACTIVE', 'UPCOMING')

    ORDER BY e.start_date;

END;

$$;


ALTER FUNCTION public.get_voter_active_elections(voter_id bigint) OWNER TO neondb_owner;

--
-- Name: FUNCTION get_voter_active_elections(voter_id bigint); Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON FUNCTION public.get_voter_active_elections(voter_id bigint) IS 'Returns all active elections that a voter is eligible for';


--
-- Name: is_voter_eligible(bigint, bigint); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.is_voter_eligible(voter_id bigint, election_id bigint) RETURNS boolean
    LANGUAGE plpgsql
    AS $$

DECLARE

    eligible BOOLEAN := FALSE;

BEGIN

    -- Check if the election_id exists in the voter's eligible_elections array

    SELECT (eligible_elections ? election_id::text) 

    INTO eligible

    FROM voters 

    WHERE id = voter_id AND is_active = true;

    

    RETURN COALESCE(eligible, FALSE);

END;

$$;


ALTER FUNCTION public.is_voter_eligible(voter_id bigint, election_id bigint) OWNER TO neondb_owner;

--
-- Name: FUNCTION is_voter_eligible(voter_id bigint, election_id bigint); Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON FUNCTION public.is_voter_eligible(voter_id bigint, election_id bigint) IS 'Checks if a voter is eligible to vote in a specific election';


--
-- Name: log_security_event(bigint, character varying, character varying, inet, text, jsonb); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.log_security_event(p_user_id bigint, p_action character varying, p_resource character varying, p_ip_address inet, p_user_agent text, p_details jsonb DEFAULT NULL::jsonb) RETURNS void
    LANGUAGE plpgsql
    AS $$

BEGIN

    INSERT INTO audit_logs (user_id, action, resource, ip_address, user_agent, details)

    VALUES (p_user_id, p_action, p_resource, p_ip_address, p_user_agent, p_details);

END;

$$;


ALTER FUNCTION public.log_security_event(p_user_id bigint, p_action character varying, p_resource character varying, p_ip_address inet, p_user_agent text, p_details jsonb) OWNER TO neondb_owner;

--
-- Name: populate_voter_name(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.populate_voter_name() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- Automatically fetch and set the voter_name from the voters table

    SELECT full_name INTO NEW.voter_name 

    FROM voters 

    WHERE id = NEW.voter_id;

    

    -- If voter not found, raise an error

    IF NEW.voter_name IS NULL THEN

        RAISE EXCEPTION 'Voter with id % not found', NEW.voter_id;

    END IF;

    

    -- Verify voter is eligible for this election

    IF NOT is_voter_eligible(NEW.voter_id, NEW.election_id) THEN

        RAISE EXCEPTION 'Voter with id % is not eligible for election %', NEW.voter_id, NEW.election_id;

    END IF;

    

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.populate_voter_name() OWNER TO neondb_owner;

--
-- Name: remove_voter_from_election(bigint, bigint); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.remove_voter_from_election(voter_id bigint, election_id bigint) RETURNS boolean
    LANGUAGE plpgsql
    AS $$

BEGIN

    UPDATE voters 

    SET eligible_elections = eligible_elections - election_id::text

    WHERE id = voter_id;

    

    RETURN TRUE;

END;

$$;


ALTER FUNCTION public.remove_voter_from_election(voter_id bigint, election_id bigint) OWNER TO neondb_owner;

--
-- Name: FUNCTION remove_voter_from_election(voter_id bigint, election_id bigint); Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON FUNCTION public.remove_voter_from_election(voter_id bigint, election_id bigint) IS 'Removes a voter from an elections eligible voters list';


--
-- Name: set_election_code(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.set_election_code() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    IF NEW.election_code IS NULL OR NEW.election_code = '' THEN

        NEW.election_code := generate_election_code();

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.set_election_code() OWNER TO neondb_owner;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO neondb_owner;

--
-- Name: validate_election_otp(bigint, character); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.validate_election_otp(election_id_param bigint, otp_param character) RETURNS boolean
    LANGUAGE plpgsql
    AS $$

DECLARE

    stored_otp CHAR(6);

    expiry_time TIMESTAMP;

    is_valid BOOLEAN;

BEGIN

    SELECT election_otp, otp_expires_at 

    INTO stored_otp, expiry_time

    FROM elections 

    WHERE id = election_id_param;

    

    -- Check if OTP matches and is not expired

    IF stored_otp = otp_param AND expiry_time > NOW() THEN

        is_valid := TRUE;

    ELSE

        is_valid := FALSE;

    END IF;

    

    RETURN is_valid;

END;

$$;


ALTER FUNCTION public.validate_election_otp(election_id_param bigint, otp_param character) OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_login_logs; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.admin_login_logs (
    id bigint NOT NULL,
    admin_id character varying(50) NOT NULL,
    login_timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    login_method character varying(20) DEFAULT 'BIOMETRIC'::character varying,
    ip_address inet,
    user_agent text,
    session_id character varying(255),
    status character varying(20) DEFAULT 'SUCCESS'::character varying,
    failure_reason text,
    CONSTRAINT admin_login_logs_login_method_check CHECK (((login_method)::text = ANY ((ARRAY['BIOMETRIC'::character varying, 'PASSWORD'::character varying, 'TOKEN'::character varying, 'FALLBACK'::character varying, 'BIOMETRIC_ENROLLMENT'::character varying])::text[]))),
    CONSTRAINT admin_login_logs_status_check CHECK (((status)::text = ANY ((ARRAY['SUCCESS'::character varying, 'FAILED'::character varying, 'BLOCKED'::character varying])::text[])))
);


ALTER TABLE public.admin_login_logs OWNER TO neondb_owner;

--
-- Name: TABLE admin_login_logs; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.admin_login_logs IS 'Audit trail for admin login attempts';


--
-- Name: admin_login_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.admin_login_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_login_logs_id_seq OWNER TO neondb_owner;

--
-- Name: admin_login_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.admin_login_logs_id_seq OWNED BY public.admin_login_logs.id;


--
-- Name: admin_sessions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.admin_sessions (
    id bigint NOT NULL,
    session_id character varying(255) NOT NULL,
    admin_id character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    expires_at timestamp without time zone NOT NULL,
    ip_address inet,
    user_agent text,
    is_active boolean DEFAULT true,
    last_activity timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.admin_sessions OWNER TO neondb_owner;

--
-- Name: TABLE admin_sessions; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.admin_sessions IS 'Active admin sessions for session management';


--
-- Name: admin_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.admin_sessions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_sessions_id_seq OWNER TO neondb_owner;

--
-- Name: admin_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.admin_sessions_id_seq OWNED BY public.admin_sessions.id;


--
-- Name: admin_users; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.admin_users (
    id bigint NOT NULL,
    admin_id character varying(50) NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(255),
    role character varying(20) DEFAULT 'ADMIN'::character varying,
    status character varying(20) DEFAULT 'ACTIVE'::character varying,
    created_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_login timestamp without time zone,
    login_attempts integer DEFAULT 0,
    account_locked_until timestamp without time zone,
    has_biometric boolean DEFAULT false,
    biometric_enrolled_date timestamp without time zone,
    fingerprint_template_id character varying(255),
    fingerprint_data bytea,
    CONSTRAINT admin_users_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'SUPER_ADMIN'::character varying])::text[]))),
    CONSTRAINT admin_users_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'INACTIVE'::character varying, 'SUSPENDED'::character varying])::text[])))
);


ALTER TABLE public.admin_users OWNER TO neondb_owner;

--
-- Name: TABLE admin_users; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.admin_users IS 'Admin users with biometric authentication support';


--
-- Name: admin_users_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.admin_users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_users_id_seq OWNER TO neondb_owner;

--
-- Name: admin_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.admin_users_id_seq OWNED BY public.admin_users.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.audit_logs (
    id bigint NOT NULL,
    user_id bigint,
    action character varying(100) NOT NULL,
    resource character varying(100),
    ip_address inet,
    user_agent text,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    details jsonb
);


ALTER TABLE public.audit_logs OWNER TO neondb_owner;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO neondb_owner;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: candidate_photos; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.candidate_photos (
    id bigint NOT NULL,
    candidate_id bigint NOT NULL,
    photo_data text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.candidate_photos OWNER TO neondb_owner;

--
-- Name: candidate_photos_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.candidate_photos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.candidate_photos_id_seq OWNER TO neondb_owner;

--
-- Name: candidate_photos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.candidate_photos_id_seq OWNED BY public.candidate_photos.id;


--
-- Name: candidates; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.candidates (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    party character varying(100) NOT NULL,
    description text,
    candidate_number integer,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    election_id bigint
);


ALTER TABLE public.candidates OWNER TO neondb_owner;

--
-- Name: candidates_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.candidates_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.candidates_id_seq OWNER TO neondb_owner;

--
-- Name: candidates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.candidates_id_seq OWNED BY public.candidates.id;


--
-- Name: elections; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.elections (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    start_date timestamp without time zone NOT NULL,
    end_date timestamp without time zone NOT NULL,
    status character varying(20) DEFAULT 'UPCOMING'::character varying NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    election_code character(6) NOT NULL,
    election_otp character(6),
    otp_expires_at timestamp without time zone,
    active_center_location character varying(255),
    CONSTRAINT elections_status_check CHECK (((status)::text = ANY ((ARRAY['UPCOMING'::character varying, 'ACTIVE'::character varying, 'COMPLETED'::character varying])::text[]))),
    CONSTRAINT valid_election_dates CHECK ((end_date > start_date))
);


ALTER TABLE public.elections OWNER TO neondb_owner;

--
-- Name: TABLE elections; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON TABLE public.elections IS 'Stores election information including dates and status';


--
-- Name: elections_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.elections_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.elections_id_seq OWNER TO neondb_owner;

--
-- Name: elections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.elections_id_seq OWNED BY public.elections.id;


--
-- Name: fingerprint_data; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.fingerprint_data (
    id bigint NOT NULL,
    voter_id character varying(50) NOT NULL,
    fingerprint_data bytea,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.fingerprint_data OWNER TO neondb_owner;

--
-- Name: fingerprint_data_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.fingerprint_data_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fingerprint_data_id_seq OWNER TO neondb_owner;

--
-- Name: fingerprint_data_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.fingerprint_data_id_seq OWNED BY public.fingerprint_data.id;


--
-- Name: fingerprint_templates; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.fingerprint_templates (
    id integer NOT NULL,
    voter_id character varying(50) NOT NULL,
    template_data bytea NOT NULL,
    quality_score double precision NOT NULL,
    liveness_score double precision,
    features_count integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_active boolean DEFAULT true,
    extra_metadata jsonb DEFAULT '{}'::jsonb
);


ALTER TABLE public.fingerprint_templates OWNER TO neondb_owner;

--
-- Name: fingerprint_templates_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.fingerprint_templates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fingerprint_templates_id_seq OWNER TO neondb_owner;

--
-- Name: fingerprint_templates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.fingerprint_templates_id_seq OWNED BY public.fingerprint_templates.id;


--
-- Name: party_logos; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.party_logos (
    id bigint NOT NULL,
    candidate_id bigint NOT NULL,
    logo_data text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.party_logos OWNER TO neondb_owner;

--
-- Name: party_logos_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.party_logos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.party_logos_id_seq OWNER TO neondb_owner;

--
-- Name: party_logos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.party_logos_id_seq OWNED BY public.party_logos.id;


--
-- Name: profile_photos; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.profile_photos (
    id bigint NOT NULL,
    voter_id character varying(50) NOT NULL,
    photo_data text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.profile_photos OWNER TO neondb_owner;

--
-- Name: profile_photos_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.profile_photos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.profile_photos_id_seq OWNER TO neondb_owner;

--
-- Name: profile_photos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.profile_photos_id_seq OWNED BY public.profile_photos.id;


--
-- Name: verification_logs; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.verification_logs (
    id integer NOT NULL,
    voter_id character varying(50),
    verification_type character varying(20) NOT NULL,
    success boolean NOT NULL,
    confidence_score double precision,
    quality_score double precision,
    liveness_score double precision,
    processing_time double precision,
    ip_address inet,
    user_agent text,
    error_message text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    metadata jsonb DEFAULT '{}'::jsonb,
    CONSTRAINT verification_logs_verification_type_check CHECK (((verification_type)::text = ANY ((ARRAY['enrollment'::character varying, 'verification'::character varying])::text[])))
);


ALTER TABLE public.verification_logs OWNER TO neondb_owner;

--
-- Name: verification_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.verification_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.verification_logs_id_seq OWNER TO neondb_owner;

--
-- Name: verification_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.verification_logs_id_seq OWNED BY public.verification_logs.id;


--
-- Name: voters; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.voters (
    id bigint NOT NULL,
    voter_id character varying(50) NOT NULL,
    full_name character varying(100) NOT NULL,
    email character varying(100),
    fingerprint_hash character varying(255),
    extra_field character varying(100),
    has_voted boolean DEFAULT false NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    role character varying(20) DEFAULT 'VOTER'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    profile_photo_data bytea,
    fingerprint_data bytea,
    profile_photo_url character varying(500),
    profile_photo_hash character varying(255),
    eligible_elections jsonb DEFAULT '[]'::jsonb,
    CONSTRAINT voters_role_check CHECK (((role)::text = ANY ((ARRAY['VOTER'::character varying, 'ADMIN'::character varying])::text[])))
);


ALTER TABLE public.voters OWNER TO neondb_owner;

--
-- Name: COLUMN voters.fingerprint_data; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.voters.fingerprint_data IS 'Actual fingerprint image data for biometric comparison';


--
-- Name: COLUMN voters.profile_photo_url; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.voters.profile_photo_url IS 'URL or path to the voter profile photo';


--
-- Name: COLUMN voters.profile_photo_hash; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.voters.profile_photo_hash IS 'Hash of the profile photo for integrity verification';


--
-- Name: COLUMN voters.eligible_elections; Type: COMMENT; Schema: public; Owner: neondb_owner
--

COMMENT ON COLUMN public.voters.eligible_elections IS 'JSONB array of election IDs that this voter is eligible to vote in';


--
-- Name: votes; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.votes (
    id bigint NOT NULL,
    voter_id bigint NOT NULL,
    voter_name character varying(100) NOT NULL,
    candidate_id bigint NOT NULL,
    station_code character varying(50),
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    ip_address inet,
    user_agent text,
    fingerprint_verified boolean DEFAULT false NOT NULL,
    election_id bigint,
    center_location character varying(255)
);


ALTER TABLE public.votes OWNER TO neondb_owner;

--
-- Name: voter_statistics; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.voter_statistics AS
 SELECT e.id AS election_id,
    e.name AS election_name,
    count(
        CASE
            WHEN (v.eligible_elections ? (e.id)::text) THEN 1
            ELSE NULL::integer
        END) AS eligible_voters,
    count(
        CASE
            WHEN (votes.voter_id IS NOT NULL) THEN 1
            ELSE NULL::integer
        END) AS voters_who_voted,
    round((((count(
        CASE
            WHEN (votes.voter_id IS NOT NULL) THEN 1
            ELSE NULL::integer
        END))::numeric * 100.0) / (NULLIF(count(
        CASE
            WHEN (v.eligible_elections ? (e.id)::text) THEN 1
            ELSE NULL::integer
        END), 0))::numeric), 2) AS voting_percentage
   FROM ((public.elections e
     CROSS JOIN public.voters v)
     LEFT JOIN public.votes ON (((votes.voter_id = v.id) AND (votes.election_id = e.id))))
  WHERE ((e.is_active = true) AND (v.is_active = true))
  GROUP BY e.id, e.name
  ORDER BY e.id;


ALTER VIEW public.voter_statistics OWNER TO neondb_owner;

--
-- Name: voters_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.voters_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.voters_id_seq OWNER TO neondb_owner;

--
-- Name: voters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.voters_id_seq OWNED BY public.voters.id;


--
-- Name: votes_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.votes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.votes_id_seq OWNER TO neondb_owner;

--
-- Name: votes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.votes_id_seq OWNED BY public.votes.id;


--
-- Name: voting_stations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.voting_stations (
    id bigint NOT NULL,
    station_code character varying(50) NOT NULL,
    is_locked boolean DEFAULT true,
    location character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.voting_stations OWNER TO neondb_owner;

--
-- Name: voting_stations_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.voting_stations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.voting_stations_id_seq OWNER TO neondb_owner;

--
-- Name: voting_stations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.voting_stations_id_seq OWNED BY public.voting_stations.id;


--
-- Name: voting_summary; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.voting_summary AS
 SELECT e.id AS election_id,
    e.name AS election_name,
    e.election_code,
    c.id AS candidate_id,
    c.name AS candidate_name,
    c.party AS candidate_party,
    count(v.id) AS vote_count,
    round((((count(v.id))::numeric * 100.0) / (NULLIF(( SELECT count(*) AS count
           FROM public.votes
          WHERE (votes.election_id = e.id)), 0))::numeric), 2) AS percentage
   FROM ((public.elections e
     LEFT JOIN public.candidates c ON (((c.election_id = e.id) AND (c.is_active = true))))
     LEFT JOIN public.votes v ON (((v.candidate_id = c.id) AND (v.election_id = e.id))))
  WHERE (e.is_active = true)
  GROUP BY e.id, e.name, e.election_code, c.id, c.name, c.party
  ORDER BY e.id DESC, (count(v.id)) DESC;


ALTER VIEW public.voting_summary OWNER TO neondb_owner;

--
-- Name: admin_login_logs id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.admin_login_logs ALTER COLUMN id SET DEFAULT nextval('public.admin_login_logs_id_seq'::regclass);


--
-- Name: admin_sessions id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.admin_sessions ALTER COLUMN id SET DEFAULT nextval('public.admin_sessions_id_seq'::regclass);


--
-- Name: admin_users id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.admin_users ALTER COLUMN id SET DEFAULT nextval('public.admin_users_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: candidate_photos id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.candidate_photos ALTER COLUMN id SET DEFAULT nextval('public.candidate_photos_id_seq'::regclass);


--
-- Name: candidates id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.candidates ALTER COLUMN id SET DEFAULT nextval('public.candidates_id_seq'::regclass);


--
-- Name: elections id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.elections ALTER COLUMN id SET DEFAULT nextval('public.elections_id_seq'::regclass);


--
-- Name: fingerprint_data id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fingerprint_data ALTER COLUMN id SET DEFAULT nextval('public.fingerprint_data_id_seq'::regclass);


--
-- Name: fingerprint_templates id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fingerprint_templates ALTER COLUMN id SET DEFAULT nextval('public.fingerprint_templates_id_seq'::regclass);


--
-- Name: party_logos id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.party_logos ALTER COLUMN id SET DEFAULT nextval('public.party_logos_id_seq'::regclass);


--
-- Name: profile_photos id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.profile_photos ALTER COLUMN id SET DEFAULT nextval('public.profile_photos_id_seq'::regclass);


--
-- Name: verification_logs id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.verification_logs ALTER COLUMN id SET DEFAULT nextval('public.verification_logs_id_seq'::regclass);


--
-- Name: voters id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.voters ALTER COLUMN id SET DEFAULT nextval('public.voters_id_seq'::regclass);


--
-- Name: votes id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.votes ALTER COLUMN id SET DEFAULT nextval('public.votes_id_seq'::regclass);


--
-- Name: voting_stations id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.voting_stations ALTER COLUMN id SET DEFAULT nextval('public.voting_stations_id_seq'::regclass);


--
-- Name: admin_login_logs admin_login_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.admin_login_logs
    ADD CONSTRAINT admin_login_logs_pkey PRIMARY KEY (id);


--
-- Name: admin_sessions admin_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.admin_sessions
    ADD CONSTRAINT admin_sessions_pkey PRIMARY KEY (id);


--
-- Name: admin_users admin_users_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: candidate_photos candidate_photos_candidate_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.candidate_photos
    ADD CONSTRAINT candidate_photos_candidate_id_key UNIQUE (candidate_id);


--
-- Name: candidate_photos candidate_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.candidate_photos
    ADD CONSTRAINT candidate_photos_pkey PRIMARY KEY (id);


--
-- Name: candidates candidates_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.candidates
    ADD CONSTRAINT candidates_pkey PRIMARY KEY (id);


--
-- Name: elections elections_election_code_unique; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.elections
    ADD CONSTRAINT elections_election_code_unique UNIQUE (election_code);


--
-- Name: elections elections_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.elections
    ADD CONSTRAINT elections_pkey PRIMARY KEY (id);


--
-- Name: fingerprint_data fingerprint_data_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fingerprint_data
    ADD CONSTRAINT fingerprint_data_pkey PRIMARY KEY (id);


--
-- Name: fingerprint_data fingerprint_data_voter_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fingerprint_data
    ADD CONSTRAINT fingerprint_data_voter_id_key UNIQUE (voter_id);


--
-- Name: fingerprint_templates fingerprint_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fingerprint_templates
    ADD CONSTRAINT fingerprint_templates_pkey PRIMARY KEY (id);


--
-- Name: fingerprint_templates fingerprint_templates_voter_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fingerprint_templates
    ADD CONSTRAINT fingerprint_templates_voter_id_key UNIQUE (voter_id);


--
-- Name: party_logos party_logos_candidate_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.party_logos
    ADD CONSTRAINT party_logos_candidate_id_key UNIQUE (candidate_id);


--
-- Name: party_logos party_logos_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.party_logos
    ADD CONSTRAINT party_logos_pkey PRIMARY KEY (id);


--
-- Name: profile_photos profile_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.profile_photos
    ADD CONSTRAINT profile_photos_pkey PRIMARY KEY (id);


--
-- Name: profile_photos profile_photos_voter_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.profile_photos
    ADD CONSTRAINT profile_photos_voter_id_key UNIQUE (voter_id);


--
-- Name: admin_sessions uk_admin_sessions_session_id; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.admin_sessions
    ADD CONSTRAINT uk_admin_sessions_session_id UNIQUE (session_id);


--
-- Name: admin_users uk_admin_users_admin_id; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT uk_admin_users_admin_id UNIQUE (admin_id);


--
-- Name: admin_users uk_admin_users_username; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT uk_admin_users_username UNIQUE (username);


--
-- Name: votes unique_voter_election; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.votes
    ADD CONSTRAINT unique_voter_election UNIQUE (voter_id, election_id);


--
-- Name: verification_logs verification_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.verification_logs
    ADD CONSTRAINT verification_logs_pkey PRIMARY KEY (id);


--
-- Name: voters voters_email_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.voters
    ADD CONSTRAINT voters_email_key UNIQUE (email);


--
-- Name: voters voters_fingerprint_hash_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.voters
    ADD CONSTRAINT voters_fingerprint_hash_key UNIQUE (fingerprint_hash);


--
-- Name: voters voters_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.voters
    ADD CONSTRAINT voters_pkey PRIMARY KEY (id);


--
-- Name: voters voters_voter_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.voters
    ADD CONSTRAINT voters_voter_id_key UNIQUE (voter_id);


--
-- Name: votes votes_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.votes
    ADD CONSTRAINT votes_pkey PRIMARY KEY (id);


--
-- Name: voting_stations voting_stations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.voting_stations
    ADD CONSTRAINT voting_stations_pkey PRIMARY KEY (id);


--
-- Name: voting_stations voting_stations_station_code_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.voting_stations
    ADD CONSTRAINT voting_stations_station_code_key UNIQUE (station_code);


--
-- Name: idx_admin_login_logs_admin_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_admin_login_logs_admin_id ON public.admin_login_logs USING btree (admin_id);


--
-- Name: idx_admin_login_logs_timestamp; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_admin_login_logs_timestamp ON public.admin_login_logs USING btree (login_timestamp);


--
-- Name: idx_admin_sessions_active; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_admin_sessions_active ON public.admin_sessions USING btree (is_active);


--
-- Name: idx_admin_sessions_admin_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_admin_sessions_admin_id ON public.admin_sessions USING btree (admin_id);


--
-- Name: idx_admin_sessions_expires_at; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_admin_sessions_expires_at ON public.admin_sessions USING btree (expires_at);


--
-- Name: idx_admin_users_admin_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_admin_users_admin_id ON public.admin_users USING btree (admin_id);


--
-- Name: idx_admin_users_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_admin_users_status ON public.admin_users USING btree (status);


--
-- Name: idx_audit_logs_timestamp; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_audit_logs_timestamp ON public.audit_logs USING btree ("timestamp");


--
-- Name: idx_audit_logs_user_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_audit_logs_user_id ON public.audit_logs USING btree (user_id);


--
-- Name: idx_candidates_active; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_candidates_active ON public.candidates USING btree (is_active);


--
-- Name: idx_candidates_election; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_candidates_election ON public.candidates USING btree (election_id);


--
-- Name: idx_candidates_election_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_candidates_election_id ON public.candidates USING btree (election_id);


--
-- Name: idx_candidates_party; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_candidates_party ON public.candidates USING btree (party);


--
-- Name: idx_elections_active; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_elections_active ON public.elections USING btree (is_active);


--
-- Name: idx_elections_code; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_elections_code ON public.elections USING btree (election_code);


--
-- Name: idx_elections_dates; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_elections_dates ON public.elections USING btree (start_date, end_date);


--
-- Name: idx_elections_otp; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_elections_otp ON public.elections USING btree (election_otp) WHERE (election_otp IS NOT NULL);


--
-- Name: idx_elections_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_elections_status ON public.elections USING btree (status);


--
-- Name: idx_fingerprint_templates_is_active; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_fingerprint_templates_is_active ON public.fingerprint_templates USING btree (is_active);


--
-- Name: idx_fingerprint_templates_voter_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_fingerprint_templates_voter_id ON public.fingerprint_templates USING btree (voter_id);


--
-- Name: idx_verification_logs_created_at; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_verification_logs_created_at ON public.verification_logs USING btree (created_at);


--
-- Name: idx_verification_logs_success; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_verification_logs_success ON public.verification_logs USING btree (success);


--
-- Name: idx_verification_logs_verification_type; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_verification_logs_verification_type ON public.verification_logs USING btree (verification_type);


--
-- Name: idx_verification_logs_voter_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_verification_logs_voter_id ON public.verification_logs USING btree (voter_id);


--
-- Name: idx_voters_eligible_elections; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_voters_eligible_elections ON public.voters USING gin (eligible_elections);


--
-- Name: idx_voters_email; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_voters_email ON public.voters USING btree (email);


--
-- Name: idx_voters_extra_field; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_voters_extra_field ON public.voters USING btree (extra_field);


--
-- Name: idx_voters_fingerprint_data; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_voters_fingerprint_data ON public.voters USING btree (fingerprint_data);


--
-- Name: idx_voters_fingerprint_hash; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_voters_fingerprint_hash ON public.voters USING btree (fingerprint_hash);


--
-- Name: idx_voters_has_voted; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_voters_has_voted ON public.voters USING btree (has_voted);


--
-- Name: idx_voters_profile_photo_hash; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_voters_profile_photo_hash ON public.voters USING btree (profile_photo_hash);


--
-- Name: idx_voters_voter_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_voters_voter_id ON public.voters USING btree (voter_id);


--
-- Name: idx_votes_candidate_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_votes_candidate_id ON public.votes USING btree (candidate_id);


--
-- Name: idx_votes_election; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_votes_election ON public.votes USING btree (election_id);


--
-- Name: idx_votes_election_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_votes_election_id ON public.votes USING btree (election_id);


--
-- Name: idx_votes_station_code; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_votes_station_code ON public.votes USING btree (station_code);


--
-- Name: idx_votes_timestamp; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_votes_timestamp ON public.votes USING btree ("timestamp");


--
-- Name: idx_votes_voter_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_votes_voter_id ON public.votes USING btree (voter_id);


--
-- Name: idx_votes_voter_name; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_votes_voter_name ON public.votes USING btree (voter_name);


--
-- Name: idx_voting_stations_code; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_voting_stations_code ON public.voting_stations USING btree (station_code);


--
-- Name: idx_voting_stations_locked; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_voting_stations_locked ON public.voting_stations USING btree (is_locked);


--
-- Name: votes populate_voter_name_trigger; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER populate_voter_name_trigger BEFORE INSERT ON public.votes FOR EACH ROW EXECUTE FUNCTION public.populate_voter_name();


--
-- Name: elections set_election_code_trigger; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER set_election_code_trigger BEFORE INSERT ON public.elections FOR EACH ROW EXECUTE FUNCTION public.set_election_code();


--
-- Name: candidates update_candidates_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_candidates_updated_at BEFORE UPDATE ON public.candidates FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: elections update_elections_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_elections_updated_at BEFORE UPDATE ON public.elections FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: fingerprint_templates update_fingerprint_templates_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_fingerprint_templates_updated_at BEFORE UPDATE ON public.fingerprint_templates FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: verification_logs update_verification_logs_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_verification_logs_updated_at BEFORE UPDATE ON public.verification_logs FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: voters update_voters_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_voters_updated_at BEFORE UPDATE ON public.voters FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: voting_stations update_voting_stations_updated_at; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER update_voting_stations_updated_at BEFORE UPDATE ON public.voting_stations FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: admin_login_logs admin_login_logs_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.admin_login_logs
    ADD CONSTRAINT admin_login_logs_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.admin_users(admin_id) ON DELETE CASCADE;


--
-- Name: admin_sessions admin_sessions_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.admin_sessions
    ADD CONSTRAINT admin_sessions_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.admin_users(admin_id) ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.voters(id) ON DELETE SET NULL;


--
-- Name: candidate_photos candidate_photos_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.candidate_photos
    ADD CONSTRAINT candidate_photos_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidates(id) ON DELETE CASCADE;


--
-- Name: candidates candidates_election_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.candidates
    ADD CONSTRAINT candidates_election_id_fkey FOREIGN KEY (election_id) REFERENCES public.elections(id) ON DELETE CASCADE;


--
-- Name: fingerprint_data fingerprint_data_voter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fingerprint_data
    ADD CONSTRAINT fingerprint_data_voter_id_fkey FOREIGN KEY (voter_id) REFERENCES public.voters(voter_id) ON DELETE CASCADE;


--
-- Name: fingerprint_templates fk_fingerprint_templates_voter_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fingerprint_templates
    ADD CONSTRAINT fk_fingerprint_templates_voter_id FOREIGN KEY (voter_id) REFERENCES public.voters(voter_id) ON DELETE CASCADE;


--
-- Name: party_logos party_logos_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.party_logos
    ADD CONSTRAINT party_logos_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidates(id) ON DELETE CASCADE;


--
-- Name: profile_photos profile_photos_voter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.profile_photos
    ADD CONSTRAINT profile_photos_voter_id_fkey FOREIGN KEY (voter_id) REFERENCES public.voters(voter_id) ON DELETE CASCADE;


--
-- Name: votes votes_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.votes
    ADD CONSTRAINT votes_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidates(id) ON DELETE CASCADE;


--
-- Name: votes votes_election_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.votes
    ADD CONSTRAINT votes_election_id_fkey FOREIGN KEY (election_id) REFERENCES public.elections(id) ON DELETE CASCADE;


--
-- Name: votes votes_voter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.votes
    ADD CONSTRAINT votes_voter_id_fkey FOREIGN KEY (voter_id) REFERENCES public.voters(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

